.product {
    display: flex;
    border-bottom: 1px solid gray;
    margin-bottom: 15px;
}

.img-container {
    flex: 1;
}

.product-description {
    flex: 3;
}

.product-description h3 {
    color: blue;
}

.main-button {
    border: 0;
    outline: 0;
    cursor: pointer;
    padding: 10px 50px;
    background: goldenrod;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: all 0.3s ease-in;
}

.main-button:hover {
    background: gold;
}
