.header img {
    height: 60px;
    display: block;
    margin: 10px auto;
}

.header nav {
    background: #333;
    padding-left: 25px;
}

nav a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 1.25rem;
    transition: all 0.3s ease-in;
}

nav a:hover {
    background: #555;
    opacity: 0.8;
}
